@page
@model HariCKInventry.Pages.Categories.CreateModel
@{
    ViewData["Title"] = "Create Category";
}
<h2>Create Category</h2>

<form method="post">
    <div>
        <label>Name</label>
        <input asp-for="Category.Name" />
        <span asp-validation-for="Category.Name"></span>
    </div>
    <div>
        <label>Description</label>
        <input asp-for="Category.Description" />
        <span asp-validation-for="Category.Description"></span>
    </div>
    <button type="submit">Save</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}