@page "{id:int}"
@model HariCKInventry.Pages.SubCategories.EditModel
@{
    ViewData["Title"] = "Edit SubCategory";
}
<h2>Edit SubCategory</h2>

<form method="post">
    <input type="hidden" asp-for="SubCategory.Id" />
    <div>
        <label>Name</label>
        <input asp-for="SubCategory.Name" />
        <span asp-validation-for="SubCategory.Name"></span>
    </div>
    <div>
        <label>Category</label>
        <select asp-for="SubCategory.CategoryId" asp-items="Model.CategoriesSelect"></select>
        <span asp-validation-for="SubCategory.CategoryId"></span>
    </div>
    <div>
        <label>Description</label>
        <input asp-for="SubCategory.Description" />
        <span asp-validation-for="SubCategory.Description"></span>
    </div>
    <button type="submit">Update</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}